/* Global styes */
body {
  margin: 0;
  background-color: #0D1117;
  color: #fff;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  border-radius: 0;
  background: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Loader styles */
#loader-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  display: none;
}

#loader-box.show {
  display: block;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fd8c73;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Loader styles - end */

/* Global - end */

.container {
  width: 100%;
  height: 100%;
  padding: 0 5% 2% 5%;
}

#route-content {
  height: calc(100% - 60px);
}

.page-template {
  padding-top: 20px;
}

/* Navigation start */

.navigation {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation > a {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #DEDEDE;
  font-size: 20px;
  color: #fff;
}

.navigation > a:hover {
  cursor: pointer;
  border-color: #fbab99;
}

.navigation > a.active {
  border-color: #fd8c73;
  font-weight: bold;
}

/* Navigation end */

/* Search box */
.search-box {
  display: flex;
  margin-bottom: 20px;
}

.search-box > input {
  width: 38%;
  margin-right: 2%;
  border: 1px solid;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

.search-box > button {
  width: 10%;
  background-color: #F78166;
  border-radius: 8px;
  cursor: pointer;
}
/* Search box - end  */

#no-data {
  display: none;
}

#no-data.show {
  display: block;
}

.action-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination-control > button {
  font-size: 18px;
  margin-left: 10px;
}

.pagination-control > button:hover {
  cursor: pointer;
  color: #F78166;
}

/* Users start */

.user-item {
  display: flex;
  margin-bottom: 25px;
  border: 1px solid #DEDEDE;
  padding: 20px;
  border-radius: 8px;
}

.user-item > img {
  width: 50px;
  margin-right: 25px;
}

/* Users end */

/* User details */

.user-details {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid;
}

#user-info {
  display: flex;
  justify-content: center;
}

.user-main-info {
  padding-right: 20px;
  margin-right: 20px;
}

.user-main-info > img {
  height: 200px;
  border-radius: 50%;
}

.user-description h4 {
  margin-top: 5px;
  color: #DEDEDE;
  display: flex;
}

.user-description > .subscriptions {
  display: flex;
}

.user-description > .subscriptions > h4 {
  margin-right: 10px;
}

.user-description span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#back-btn {
  cursor: pointer;
  margin: 10px 0;
}

#back-btn:hover {
  color: #F78166;
}

/* User details - end */

/* Repos */
.repo-item {
  display: flex;
  margin-bottom: 25px;
  border: 1px solid #DEDEDE;
  padding: 20px;
  border-radius: 8px;
}

.repo-item > img {
  height: 80px;
  margin-right: 25px;
  border-radius: 50%;
}

.repo-info {
  display: flex;
  flex-direction: column;
}

.repo-info > .description {
  margin-top: 15px;
}

.repo-info > .start-count {
  margin-top: 10px;
}

/* Repos - end */